.main {
    display: flex;
    height: 300px;

    .main_sidebar {
        width: 25%;
        padding: 20px;
        background-color: #ccc;

        ul {
            margin: 5px 0;

            li {
                display: block;

                a {
                    font-size: 17px;
                    list-style-type: none;

                    &:hover {
                        color: rgb(0, 0, 213);
                    }
                }
            }
        }

    }

    .main_section {
        width: 75%;
        padding: 20px;
        background-color: #f1f1f1;
        font-size: 14px;

        h2 {
            font-size: 42px;
            font-weight: 400;
            margin: 10px 0;
        }

        p:last-child {
            margin: 15px 0;
        }
    }

}

@media only screen and (max-width: 768px) {
    .main {
        display: flex;
        flex-direction: column;
        height: auto;

        .main_sidebar {
            width: 100%;
            padding: 10px 0;

            ul {
                display: flex;
                justify-content: space-around;
            }
        }

        .main_section {
            width: 100%;

            h2 {
                font-size: 38px;
                margin: 7px 0;
            }
        }
    }
}